@{
    ViewBag.Title = "关于本系统";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <p>随着计算机技术、网络技术和信息技术的发展，现在办公系统更趋于系统化、科学化和网络化。网络办公自动化系统是计算机技术和网络迅速发展的一个办公应用解决方案，它的主要目的是实现信息交流和信息共性，提供协同工作的手段，提高办公的效率，让人们从繁琐的有纸办公中解脱出来。</p>
    <p>现在许多的机关单位的人事管理水平还停留在纸介质的基础上，这样的机制已经不能适应时代的发展，因为它浪费了许多的人力和物力，在信息时代这种传统的管理方法必然被计算机为基础的信息管理所取代。</p>
    <p>本系统是对公司的人事资料进行管理，为人事管理人员提供了一套简单的操作、使用可靠、界面友好、易于管理和使用的处理工具。本系统对人事各种数据进行统一财务管理，避免数据存取、数据处理的重复，提高工作效率，减少了系统数据处理的复杂性。</p>
    <p>本系统不仅使公司人事管理人员从繁重的工作中解脱出来，而且提高了人事管理的效率，提高了人事管理的科学性，方便了用户查询、管理人员进行管理。</p>

</main>