@{
    ViewBag.Title = "联系我们";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <address>
        <strong>地址</strong>西安市雁塔区高新区科技二路72号
    </address>

    <address>
        <strong>技术支持：</strong>   <a href="mailto:2975222428@QQ.com">2975222428@QQ.com</a><br />
    </address>
</main>