@{
    ViewBag.Title = "首页";
}

<main>
    <section class="row" aria-labelledby="systemTitle">
        <h1 id="title">企业人事管理系统</h1>
        <p class="lead">企业人事管理系统是为现代企业提供的一站式员工管理解决方案，支持信息化、系统化管理，提高办公效率。</p>
        <p><a href='@Url.Action("Login", "Home")' class="btn btn-primary btn-md">登录</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="userFunctionTitle">
            <h2 id="userFunctionTitle">用户功能</h2>
            <p>
                提供用户注册、登录和密码管理等基本功能，使员工能够轻松访问和更新个人信息及企业通知。
            </p>
            
        </section>
        <section class="col-md-4" aria-labelledby="hrFunctionTitle">
            <h2 id="hrFunctionTitle">人事专员功能</h2>
            <p>包括员工调动、基本信息查询、考评录入、薪酬调整及职称评定等，帮助人事管理人员高效管理企业人力资源。</p>
            
        </section>
        <section class="col-md-4" aria-labelledby="adminFunctionTitle">
            <h2 id="adminFunctionTitle">管理员功能</h2>
            <p>强大的后台管理功能，包括数据备份与恢复、报表输出及用户权限设置等，确保数据安全并提升管理效率。</p>
            
        </section>
    </div>
</main>