@model EPM.Models.Notifications

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>通知详情</title>
</head>
<body>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                标题
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                内容
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                发布时间
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePublished)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("返回", "Index")
    </p>
</body>
</html>